html,body {
    background-color: #fff;
    position: relative;
}

.wrap .add-addr {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 0;
    text-align: center;
}
.wrap .add-addr a {
    color: #fff;
    background-image: linear-gradient(to right,#6ceb96,#58d481);
    padding: 10px 45px;
    border-radius: 20px;
}
