html,body {
    background-color: #fff;
}
.wrap {
    margin: -20px -20px 3em -20px;
}
.header {
    padding: 45px 10px 0 10px;
    background-color: #1bb551;
}
.header .avatar img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 5px solid #37c36c;
}
.header .user-info p{
    color: #fff;
}
.header .user-info p:nth-child(1) span {
    margin-top: 10px;
    display: inline-block;
    background-color: #ffd04e;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: #ff1e10;
}
.header .row:nth-child(2) {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #96ca4b;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    color: #fff;
}
.header .row:nth-child(2) > div {
    border-right: 1px solid #ccc;
}
.header .row:nth-child(2) > div:last-child {
    border-right: none;
}
.header .setting a > svg {
    font-size: 20px;
}
.user-fu {
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    position: relative;
    z-index: 1021;
    padding-top: 15px;
    padding-bottom: 20px;
}
.user-fu ul li {
    width: 50%;
    float: left;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    padding-top: 25px;
    padding-bottom: 25px;
}
.user-fu ul li:nth-child(2),
.user-fu ul li:nth-child(4),
.user-fu ul li:nth-child(6),
.user-fu ul li:nth-child(8) {
    border-right: none;
}
.user-fu ul li:nth-child(7),
.user-fu ul li:nth-child(8) {
    border-bottom: none;
}
.user-fu ul li a svg {
    font-size: 50px;
}
.user-fu ul li a p {
    color: #000;
    font-size: 14px;
}
